In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('ISCX_Botnet-Training.csv')

In [2]:
df2=df.drop(columns=['No.', 'Time'])
df2

,Source,Destination,Protocol,Length,Info
0,Cisco_db:19:c3,Broadcast,ARP,60,Who has 147.32.84.165? Tell 147.32.84.1
1,Cisco_db:19:c3,Broadcast,ARP,60,Who has 147.32.84.165? Tell 147.32.84.1
2,Cisco_db:19:c3,Broadcast,ARP,60,Who has 147.32.84.165? Tell 147.32.84.1
3,54:52:00:00:00:01,Broadcast,ARP,60,Who has 147.32.84.165? Tell 147.32.84.85
4,54:52:00:00:00:01,Broadcast,ARP,60,Who has 147.32.84.165? Tell 147.32.84.85
...,...,...,...,...,...
9388265,192.168.2.108,192.168.5.122,SSHv2,206,Client: Diffie-Hellman Key Exchange Init
9388266,192.168.5.122,192.168.2.108,TCP,60,22 > 1517 [ACK] Seq=824 Ack=431 Win=7504 Len=0
9388267,192.168.5.122,192.168.2.108,TCP,60,[TCP Dup ACK 9388267#1] 22 > 1517 [ACK] Seq=...
9388268,192.168.5.122,192.168.2.108,SSHv2,774,"Server: Diffie-Hellman Key Exchange Reply, New..."
9388269,192.168.5.122,192.168.2.108,TCP,774,"[TCP Retransmission] 22 > 1517 [PSH, ACK] Se..."

In [3]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(df2['Protocol'])
label_protocol = le.transform(df2['Protocol'])

In [4]:
le1 = LabelEncoder()
le1.fit(df2['Source'])
label_source = le1.transform(df2['Source'])

le2 = LabelEncoder()
le2.fit(df2['Destination'])
label_dest = le2.transform(df2['Destination'])

le3 = LabelEncoder()
le3.fit(df2['Info'])
label_info = le3.transform(df2['Info'])
print(label_dest,label_source,label_info)

[51655 51655 51655 ... 11378 11378 11378] [21798 21798 21798 ...  6354  6354  6354] [5014493 5014493 5014493 ... 5959623 4819389 7067774]

In [5]:
label_source = pd.Series(label_source.reshape(9388270))
label_dest = pd.Series(label_dest.reshape(9388270))
label_protocol = pd.Series(label_protocol.reshape(9388270))
label_info = pd.Series(label_info.reshape(9388270))

In [6]:
df4 = pd.DataFrame([label_source,label_dest,label_protocol,label_info])

In [7]:
df4 = df4.transpose()
df4.columns =['Source','Dest','Protocol','Info']
df4

         Source   Dest  Protocol     Info
0         21798  51655         2  5014493
1         21798  51655         2  5014493
2         21798  51655         2  5014493
3         13810  51655         2  5014497
4         13810  51655         2  5014497
...         ...    ...       ...      ...
9388265    6340  11398        67  4750790
9388266    6354  11378        72   869180
9388267    6354  11378        72  5959623
9388268    6354  11378        67  4819389
9388269    6354  11378        72  7067774

[9388270 rows x 4 columns]

In [8]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=2, random_state=0).fit(df4)

In [9]:
a = kmeans.labels_

In [12]:
result = kmeans.predict(df4)

In [17]:
np.unique(result)

array([0, 1], dtype=int32)